.Peopletable {
  border-top: 1px solid #d9d9d9;
  border-collapse: collapse;
  min-width: 17rem;
}

.tableHeader {
  text-align: center;
  height: 2.1rem;
}

.tableHeader th {
  padding: 0 1.5rem 0 1.5rem;
}

@media (max-width: 1700px) {
  .tableHeader th {
    padding: 0 0.8rem 0 0.8rem;
  }
}

@media (max-width: 1600px) {
  .tableHeader th {
    padding: 0 0.6rem 0 0.6rem;
  }
}

@media (max-width: 1500px) {
  .tableHeader th {
    padding: 0 0.3rem 0 0.3rem;
  }
}

@media (max-width: 1300px) {
  .tableHeader th {
    padding: 0 0.1rem 0 0.1rem;
  }
}

.tableBody tr {
  height: 2rem;
  border-top: 1px solid #d9d9d9;
}
