.container {
  background-color: #F6F5F9;
  height: 90vh;
  padding: 5vw;
  padding-top: 3vw;
}

.inrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headText {
  font-weight: bold;
  font-size: 1.5vw;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
}

.selectItem {
  border: none !important;
  background-color: transparent !important;
  width: 100%;
}

.selectItem:focus {
  outline: none;
}

.whiteBox {
  display: flex;
  background-color: white;
  border: 1px #D9D9D9 solid;
  height: 2vh;
  border-radius: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1vw;
}

.contentBox {
  background-color: white;
  height: 55vh;
  border: 1px #D9D9D9 solid;
  border-radius: 8px;
  padding: 20px;
  font-size: 1.4vw;
  line-height: 1.5;
}