.ConsultApprove {
  background-color: #f6f5f9;
  min-height: calc(100vh - 60px);
  padding: 3rem 4rem 0 4rem;
}

.title {
  min-width: 60rem;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 1.5rem;
}

.title > p:nth-child(1) {
  margin-top: 0;
  font-weight: 700;
  font-size: 21px;
  margin-left: 0.625rem;
}

.title > p:nth-child(2) {
  margin-left: 0.625rem;
  margin-bottom: 0;
}

.csltMessage {
  margin-left: 0.625rem;
  display: flex;
  flex-direction: row;
}

.correctMsg {
  display: flex;
  align-items: center;
}

.correctMsg > input {
  border: none;
  border-bottom: 1px solid black;
  background-color: #f6f5f9;
  width: 30rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
}

.setMsg {
  display: flex;
}

.msgBtn {
  border: 1px solid black;
  padding: 0 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
}
