.consultHistory {
  background-color: #f6f5f9;
  min-height: calc(100vh - 60px);
  padding: 3rem 4rem 0 4rem;
  min-width: 1300px;
}

.title {
  min-width: 60rem;
  border-bottom: 1px solid #d9d9d9;
  /* margin-bottom: 1.5rem; */
}

.headText {
  font-weight: bold;
  font-size: 1.3rem;
}

.underText {
  margin-top: 0.5rem;
  color: rgba(128, 128, 128, 0.651);
}

.title > p {
  margin-top: 0;
  font-weight: 700;
  font-size: 21px;
  margin-left: 0.625rem;
}
.consultClass {
  min-height: 78vh;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}

.consultTab {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: #f6f5f9;
  border-radius: 6px;
  /* border: 1px solid silver; */
}
.consultTab > div {
  flex: 1;
}
.consultTab > div > p {
  margin: 7px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
}
.consultCardBox {
}
