.refModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.RefuseModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 30rem;
  height: 28rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
}
.titleBox {
  display: flex;
  justify-content: space-between;
}
.refuseMsg {
  margin: 0;
}
.refuseBox {
  text-align: center;
}
.refuseBox > img {
  width: 160px;
  height: 160px;
}
.modalBtn {
  display: flex;
  justify-content: space-evenly;
}

.refuseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f43f5e;
  border: 1px solid #f43f5e;
  width: 6rem;
  height: 2.8rem;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.refuseMsg {
  font-weight: 700;
}

.acceptBtn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15075f;
  border: 1px solid black;
  width: 6rem;
  height: 2.8rem;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
}

/* 부모일시 */
.parentBox {
  display: flex;
}

.parentBox > div {
  flex: 1;
}
